<div class="container mt-5">
  <h1 class="mb-4">Toutes les recettes</h1>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text text-muted"><%= truncate(recipe.description, length: 100) %></p>
            <p><strong>Prix :</strong> <%= recipe.price %> €</p>
            <p><strong>Temps :</strong> <%= recipe.time %> min</p>
            <p><strong>Calories :</strong> <%= recipe.calories %> kcal</p>
          </div>
          <div class="card-footer text-end">
            <%= link_to "Voir la recette", recipe_path(recipe), class: "btn btn-primary btn-sm" %>
          </div>
          <% if user_signed_in? %>
            <% if current_user.selected_recipes.exists?(recipe.id) %>
              <span>Déjà dans votre sélection</span>
            <% else %>
              <%= link_to "Ajouter à ma sélection",
              recipe_recap_recipes_path(recipe),
              data: {turbo_method: :post }%>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
