<div class="container-swipe">
  <div class="carousel">
    <% @recipes.each do |recipe| %>
      <div class="col-12 d-flex justify-content-center"> <!-- centre la card -->
        <div class="card shadow h-100 position-relative overflow-hidden swipe-card">
          <!-- Wrapper cliquable -->
          <%= link_to recipe_path(recipe), class:"card-img-background", style:"background-image: url(#{recipe.image_url});" do %>
            <div>
              <!-- Infos en bas sur l'image -->
              <div class="card-info-overlay p-3 text-white">
                <h5 class="mb-2"><%= recipe.name %></h5>
                <div class="d-flex justify-content-between small">
                  <span>💸 <%= recipe.price %> €</span>
                  <span>⏳ <%= recipe.time %> min</span>
                  <span>🍕 <%= recipe.calories %> kcal</span>
                </div>
              </div>
            </div>
          <% end %>
          <!-- Footer en dehors de l'image -->
          <% if user_signed_in? %>
            <div class="card-footer d-flex justify-content-between">
              <% if current_user.selected_recipes.exists?(recipe.id) %>
                <span class="text-success">✅ Déjà dans votre sélection</span>
              <% else %>
                <%= link_to "Ajouter à ma sélection",
                            recipe_recap_recipes_path(recipe),
                            data: { turbo_method: :post },
                            class: "btn btn-success btn-sm" %>
              <% end %>
            </div>
          <% end %>
          <!-- Bouton coeur en overlay -->
          <div class="bouton position-absolute top-0 end-0">
            <% if current_user.favorites.exists?(recipe_id: recipe.id) %>
              <span class="text-danger fs-4">❤️</span>
            <% else %>
              <%= button_to "🤍", recipe_favorites_path(recipe),
                              data: { turbo_method: :post },
                              class: "btn btn-outline-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
