<main class="homepage" style="background:#00524F; min-height:100vh; padding:16px;">
  <!-- ===== HERO ===== -->
  <section class="hero">
    <!-- Image d’arrière-plan -->
    <%= image_tag "plat-home.jpg", alt: "Assiette de sushi", loading: "eager" %>
    <div class="hero-content">
      <h2>Générez vos repas et optimisez votre budget</h2>
      <%= link_to "Let’s goooo", recipes_path, class: "cta-btn" %>
    </div>
  </section>

  <section class="recipes-section">
    <h3>Les recettes du moment</h3>
    <div class="recipes-carousel">
      <% @recipes.each do |recipe| %>

        <article class="recipe-card">
          <%= link_to recipe_path(recipe), class: "recipe-link" do  %>
            <div class="image-wrapper">
              <% recipe.photos.each do |photo| %>
                <%= cl_image_tag(photo.key)%>
          <% end  %>
              <% end %>
            </div>
            <h4><%= recipe.name %></h4>
            <div class="meta">Prix</div>
            <div class="time"><%= "#{number_to_currency(recipe.price, unit: "€")}" %></div>
          <%= link_to "🤍", recipe_favorites_path(recipe),
                data: { turbo_method: :post },
                class: "fav-btn" %>
        </article>
      <% end %>
    </div>
  </section>
</main>
